/* .landing-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-image: url('./landing-page-icon.png');
    background-size: cover;
  }
  */